@model Models.Tabelle.Contatti

@{
    ViewData["Title"] = "Details";
    ViewData["BreadCrum"] ="Dettagli Contatto";
    ViewData["RootBreadCrum"] ="Contatti";
}

<h2>Dettagli Contatto</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anagrafica.AnagraficaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoContatto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoContatto.TipoContattoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContattiId"><i class="far fa-edit"></i>Modifica</a> |
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>Indietro</a>
</div>
