@model IEnumerable<Models.Tabelle.Contatti>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anagrafica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoContatto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anagrafica.AnagraficaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContatto.TipoContattoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContattiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContattiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContattiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
