@model Models.Tabelle.Anagrafica

@{
    ViewData["Title"] = "Delete";
    ViewData["BreadCrum"] ="Elimina Anagrafica";
    ViewData["RootBreadCrum"] ="Anagrafiche";
}

<h2>Elimina Anagrafica</h2>

<h3>Sei sicuro di voler eliminare questa anagrafica?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodiceAnagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceAnagrafica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAzienda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAzienda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartitaIva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartitaIva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoAnagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAnagrafica.TipoAnagraficaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">      
        <input type="hidden" asp-for="AnagraficaId" />
        <input type="submit" value="Elimina"/> |
        <a asp-action="Index" class="fas fa-long-arrow-alt-left">   Indietro</a>
        
    </form>
</div>
