@model Models.Tabelle.Anagrafica

@{
    ViewData["Title"] = "Details";
    ViewData["BreadCrum"] ="Dettagli Anagrafica";
    ViewData["RootBreadCrum"] ="Anagrafiche";
}

<h2>Dettagli Anagrafica</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodiceAnagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceAnagrafica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAzienda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAzienda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartitaIva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartitaIva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoAnagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAnagrafica.TipoAnagraficaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnagraficaId"><i class="far fa-edit"></i>Modifica</a> |
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>Indietro</a>
</div>
