@model IEnumerable<Models.Tabelle.Anagrafica>

@{
    ViewData["Title"] = "Index";
    ViewData["BreadCrum"] ="Anagrafiche";
    ViewData["RootBreadCrum"] ="Home";
}

<h2 class="Domini">Anagrafiche</h2>

<p>
    <a class="DominiGenerali" asp-action="Create">Clicca qui per inserire una nuova anagrafica... </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodiceAnagrafica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAzienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RagioneSociale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAnagrafica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceAnagrafica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAzienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RagioneSociale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartitaIva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnagrafica.TipoAnagraficaId)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.AnagraficaId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.AnagraficaId"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.AnagraficaId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>   
}
    </tbody>
</table>
