@model IEnumerable<Models.Tabelle.TipoContatto>

@{
    ViewData["Title"] = "Index";
    ViewData["BreadCrum"] ="Tipo Contatto";
    ViewData["RootBreadCrum"] ="Domini";
}

<h2 class="Domini">CONTATTI</h2>

<p class="DominiGenerali">
    <a asp-action="Create">Clicca qui per inserire un nuovo contatto...</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoContattoId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.TipoContattoId"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.TipoContattoId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
