@model Models.Tabelle.Indirizzi

@{
    ViewData["Title"] = "Details";
    ViewData["BreadCrum"] ="Dettagli Indirizzo";
    ViewData["RootBreadCrum"] ="Indirizzi";
}

<h2>Dettagli Indirizzo</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Citta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Citta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Denominazione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denominazione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anagrafica.AnagraficaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoIndirizzo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoIndirizzo.TipoIndirizzoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IndirizziId"><i class="far fa-edit"></i>Modifica</a> |
    <a asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i>Indietro</a>
</div>
