@model IEnumerable<Models.Tabelle.Indirizzi>

@{
    ViewData["Title"] = "Index";
    ViewData["BreadCrum"] ="Indirizzi";
    ViewData["RootBreadCrum"] ="Anagrafiche";
}

<h2 class="Domini">Indirizzi</h2>

<p>
    <a class="DominiGenerali"asp-action="Create">Clicca qui per inserire un nuovo indirizzo...</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anagrafica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIndirizzo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anagrafica.AnagraficaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIndirizzo.TipoIndirizzoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IndirizziId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IndirizziId"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IndirizziId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
